/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
  background-image:url(https://prog-8.com/images/html/advanced/top.png);
  background-repeat: no-repeat;
  background-size: 100%;

  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.top-wrapper{
    padding: 180px 0 120px 0;
    text-align: center;
    h1,p{
        color:white;
        opacity: 0.7;
    }
    h1{
        font-size: 45px;
        font-weight: bold;
        letter-spacing: 5px;
    }
    p{
        padding-bottom: 30px;
    }

    .btn-wrapper{
        .signup{
            background-color: #239b76;
        }
        p{
            padding: 15px 0;
        }
        .facebook{
            background-color: #3b5998;
            margin-right: 10px;
        }
        .twitter{
            background-color: #55acee;
        }
    }
}

.btn{
    opacity: 0.8;
    color: white;
    padding: 8px 24px;
    border-radius: 0.1em;/*ボタンの角*/
    &:hover{
        opacity: 1;
    }
}

header{
    background-color: rgba(34,49,52,0.9);
    height: 65px;
    position: fixed;
    width: 100%;
    z-index: 10;
    
    .header-logo{
        padding: 20px 0;
        width: 124px;
        float: left;
    }
    .header-login{
        color: white;
        float: right;
        padding: 25px;
        height: 65px;
        background-color: rgba(255,255,255,0.3);
        &:hover{
            background-color: rgba(255,255,255,0.7);
        }
    }
}

.lesson-wrapper{
    background-color: #f7f7f7;
    text-align: center;
    height: 580px;
    .lesson-message{
        font-weight: normal;
        color: #5f5d60;
        padding: 80px 0 50px 0;
    }
    .prog-wrapper{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        .prog{
            .prog-img-name{
                position: relative;
                .prog-name{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    color: white;
                }
            }
            .prog-text{
                width: 80%;
                margin: 0 auto;
                padding-top: 15px;
                font-size: 13px;
                color: #b3aeb5;
            }
        }
    }
}

.message-wrapper{
    text-align: center;
    .message-content-wrapper{
        padding: 80px 0;
        h2,p{
            color: #5f5d60;
            font-weight: normal;
        }
        p{
            padding-bottom: 50px;
        }
        .message-btn{
            background-color: #5dca88;
            padding: 15px 40px;
            box-shadow: 0px 7px #1a7940;
            &:active{
                box-shadow: none;
                position: relative;
                top: 7px;
            }
        }
    }
}

footer{
    border-top: solid 1px #eee;
    .footer-logo{
        padding: 30px 0;
        img{
            width: 124px;
        }
        p{
            color: #b3aeb5;
            font-size: 12px;
        }
    }
}